// Colors
$color-white: #fff;
$color-primary: #272733;
$color-gray: #6F6D7B;
$color-gray-light: #c3c3c3;
$color-dark: #10101D;
$color-black: #000;

$color-bbb: #bbb;
$color-focus: #3D4050;

$color-blue-light: #3E9CDC;
$color-blue: #42A9ED;
$color-blue-dark: #286690;
$color-blue-links: #43ABF0;
$color-blue-select: #42A9ED;

// Spaces
$space: 30px;
$space-X: 80px;
$spaceHeader: 100px;

// Border-radius
$brdz-3: 3px;
$brdz-4: 4px;

// Device Size
$mobile: 767px;
$tablet: 1024px;
$desktop: 1200px;