footer.footer
    .container
        section.footer__main
            p.footer__copyright © 2018 «LoremIpsum.net» Все права защищены.
            ul.footer__pays-system
                li.icon-with-text
                    include ../svg/pay-QIWI
                    span QIWI wallet
                li.icon-with-text
                    include ../svg/pay-yandex
                    span Yandex Money
                li.icon-with-text
                    include ../svg/pay-webmoney
                    span Web Money
            ul.footer__contacts
                li.contacts-list__item(class="contact-link")
                    a.icon-with-text(href="mailto:info@ipsum228.com", class="icon-with-text_link")
                        include ../svg/mail-icon
                        span info@ipsum228.com
                li.contacts-list__item(class="contact-link")
                    a.icon-with-text(href="#", target="_blank", class="icon-with-text_link")
                        include ../svg/vk-icon
                        span Мы вконтакте